.bx-messenger-cl-search{
display:none !important;
}
.bx-messenger-textarea-mention{
display:none !important;	
}
.popup-window .bx-messenger-mark{
display:none !important;	
}
.bx-messenger-panel-chat{
display:none !important;	
}
.bx-desktop-tab-icon-im-lf{
display:none !important;	
}
.bx-messenger-popup-menu-items{
display:none !important;	
}
.bx-messenger-popup-newchat-cl{
display:none !important;	
}
.bx-finder-box.bx-finder-box-vertical .bx-finder-box-tabs{
display:none !important;	
}
.bx-finder-search-block{
display:none !important;	
}
.header-search-inner{
display:none !important;	
}
.bx-finder-groupbox:first-child{
display:none !important;	
}
.bx-lm-groupbox-department{
display:none !important;	
}
